body{
    background-color: black;
    color:white;
}

div{
    text-align: center;
    font-size: larger;
    font-weight: bold ;
    margin-top: 40px;
}
input{
    background-color: greenyellow;

    margin-bottom: 10px;
    font-size: large;
    width:100px;
}

select{
    background-color: greenyellow;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: large;
}

button{
    margin-top: 30px;
    font-size: larger;
    border-radius: 20px;
    background-color: greenyellow;
}